{% extends 'base.html' %}

{% block title %}
<div class="h1">Applied inn</div>
{% endblock %}

{% block content %}
<a href="{% url 'registration:index' %}" class="btn btn-secondary">Back</a>
{% for param in params %}
<p>宿泊情報</p>
<p>{{ param.address }}</p>
<p>{{ param.description }}</p>
<p>{{ param.date }}</p>
<br>
<p>相手情報</p>
<p>{{ param.username }}</p>
<p>{{ param.phone_num }}</p>
<p>{{ param.info }}</p>
<img src="{{ param.image.url }}">
<br>
<a href="{% url 'matching:cancel_apply' %}?param={{ param.pk }}" class="btn btn-primary">Cancel</a>
<p>-----------------------------------------</p>
<br>
{% endfor %}
{% endblock %}