{% extends 'base.html' %}

{% block title %}
<div class="h1">Apply inn</div>
{% endblock %}

{% block content %}
<p>宿泊情報</p>
<p>{{ inn_instance.username }}</p>
<p>{{ inn_instance.address }}</p>
<p>{{ inn_instance.description }}</p>
<p>{{ inn_instance.date }}</p>
<p>イメージ図</p>
{% for inn_images_instance in inn_images_instances %}
<img src="{{ inn_images_instance.image.url }}">
{% endfor %}
<p>-----------------------------------------</p>
<br>
<div>
    <br>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% for field in form %}
        {{ field.label }}
        {{ field }}
        {{ field.errors }}
        <br>
        {% endfor %}
        <input type="hidden" name="inn_id" value="{{ inn_instance.inn_id }}">
        <div class="mt-3">
            <button type="submit" class="btn btn-primary">Apply</button>
            <a href="{% url 'matching:search_inn' %}" class="btn btn-secondary">Back</a>
        </div>
    </form>
</div>
{% endblock %}