{% extends 'base.html' %}

{% block title %}
<h1 class="font-weight-bold" style="margin-top: 60px;">予約情報の確認（ホスト側）</h1>
{% endblock %}

{% block content %}
<div style="padding: 30px;">
    <a href="{% url 'registration:index' %}" class="back-a">ホームへ</a>
</div>
<br>
{% for param in params %}
<div class="inn-contents">
    <p>宿泊情報</p>
    <p>住所：{{ param.address }}</p>
    <p>詳細：{{ param.description }}</p>
    <p>日付：{{ param.date }}</p>
    <br>
    <p>相手情報</p>
    <p>ユーザ名：{{ param.username }}</p>
    <p>電話番号：{{ param.phone_num }}</p>
    <p>備考：{{ param.info }}</p>
    <p>トプ画</p>
    <img src="{{ param.image.url }}">
    <br>
    <div style="padding: 15px;">
        <a href="{% url 'matching:cancel_apply' %}?param={{ param.pk }}" class="delete-a">取り消す</a>
    </div>
</div>
<br>
{% endfor %}
{% endblock %}