{% extends 'base.html' %}

{% block title %}
<div class="h1">Chat Home</div>
{% endblock %}

{% block content %}
<a href="{% url 'registration:index' %}" class="btn btn-secondary">Back</a>
<br>
{% for chat in chats %}
{% if chat.user1 == user %}
<img src="{{ chat.user2.image.url }}" alt="image">
<p>{{ chat.user2.username }}</p>
<a href="{% url 'matching:chat' %}?param={{ chat.chat_id }}" class="btn btn-primary">talk</a>
{% else %}
<img src="{{ chat.user1.image.url }}" alt="image">
<p>{{ chat.user1.username }}</p>
<a href="{% url 'matching:chat' %}?param={{ chat.chat_id }}" class="btn btn-primary">talk</a>
{% endif %}
<p>-----------------------------------------</p>
<br>
{% endfor %}
{% endblock %}